<% provide(:title, t(".home")) %>
<h1><%= t(".home") %></h1>
<p>
  <%= link_to t(".link_1"), "https://www.railstutorial.org/"%><%= t(".text1") %>
  <%= link_to t(".link_2"), "https://www.railstutorial.org/book" %><%= t(".and") %>
  <%= link_to t(".link_3"), "http://screencasts.railstutorial.org/" %>
  <%= t(".paragraph_2") %>
  <%= link_to t(".link_4"), "http://rubyonrails.org/" %>
  <%= t(".paragraph_1") %>
</p>
